a {
    text-decoration: none;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.vs__search,
.vs__search:focus {
    margin: 7px 0;
}

.vs__dropdown-toggle {
    width: 105% !important;
}

.site-title {
    padding: 10px 0 10px 0;
}

.site-title i {
    color: #BF1E2D;
}

.block-title {
    padding-bottom: 10px;
}

.warehouse-selected {
    padding: 10px 0 5px 0;
}

.block-head {
    padding: 0 0 15px 0;
}

.list-product-in-order {
    padding: 5px 0 5px 0;
}

.left-form {
    padding: 1rem!important;
}
.right-form {
    padding: 1rem!important;
}