// Complie scss to css :       sass src/style/scss/register.scss src/style/css/register.css
// @import 'name file scss (not contains .scss)'
$color_red_qt: #BF1E2D;
$color_red_qt_hover: #ff0019;
$color_link_blue: #0097E6;

* {
    margin: 0;
    padding: 0;
}

//authenication
.register-page {
    .div-container-register{
        width: 95%;
        height: auto;
        border: 1px solid #BF1E2D;
        border-radius: 20px;
        margin: 10vh auto;

        .logo-branch-register{
            margin-top: -70px;
        }

        .form-register{
            margin: auto 10px;
        }

        .input-form-register{
            margin-bottom: 30px;
        }

        .btn-register-qt {
            background-color: $color_red_qt  !important;
            width: 150px;
            padding: 8px;
            border-radius: 25px;
        }


        .a-login-account {
            text-decoration: none;
        }

        .a-login-account:hover {
            color: $color_red_qt_hover;
        }

        .vs__search{
            height: 28.5px;
        }
    }
    
    @media (max-width: 1400px) {

    }

    @media (max-width: 1200px) {

    }

    @media (max-width: 992px) {

    }

    @media (max-width: 768px) {

    }

    @media (max-width: 576px) {

    }

    @media (max-width: 395px) {
    }
}