// Complie scss to css :       sass src/style/scss/main.scss src/style/css/main.css
// @import 'name file scss (not contains .scss)'
$color_red_qt: #BF1E2D;
$color_red_qt_hover: #ff0019;
$color_link_blue: #0097E6;

* {
    margin: 0;
    padding: 0;
}

//authenication
.register-page {
    .div-container-register{
        width: 95%;
        height: 300px;
        border: 1px solid #BF1E2D;
        border-radius: 20px;
        margin: 5vh auto;

        .logo-branch-register{
            margin-top: -70px;
        }

        .form-register{
            margin: auto 10px;
        }

        .input-form-register{
            margin-bottom: 30px;
        }
    }
    
    @media (max-width: 1400px) {

    }

    @media (max-width: 1200px) {

    }

    @media (max-width: 992px) {

    }

    @media (max-width: 768px) {

    }

    @media (max-width: 576px) {

    }

    @media (max-width: 395px) {
    }
}